<div class="modal">
  <ion-header-bar align-title="center" class="">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeModal('deptOption')"></button>
    <h1 class="title">Select Departments</h1>
    <!-- cannot add on the fly because the department has to be created first. -->
    <!-- <button class="button button-icon icon ion-ios-compose-outline" ng-click="addNewDepartment()"></button> -->
  </ion-header-bar>
  <ion-view>
    <ion-content has-header="true" has-footer="true">
        <ion-scroll direction="y" style="height:90vh;">
            <ion-list>
              <ion-item item="department" ng-click="selectedDepartment(department);" ng-repeat="department in departments  track by department._id" ng-model="thisGroup.department">
                {{department.MerchandiseCodeDescription}}
                <i class="icon ion-checkmark option-list-icon" ng-show="department._id == thisGroup.department._id"></i>
              </ion-item>
              <!-- <ion-radio ng-change="closeModal('deptOption');" ng-repeat="department in departments  track by department._id" ng-value="department"  ng-model="thisGroup.department">{{department.merchandiseCodeDescription}}</ion-radio> -->
            </ion-list>
        </ion-scroll>
    </ion-content>
  </ion-view>
</div>