<div class="modal">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Departments</h1>
    <button class="button button-icon icon ion-ios-compose-outline" ng-click=""></button>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <a class="item" href="#">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item" href="#">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item" href="#">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
      </div>
  </ion-content>
  <ion-footer-bar style="">
      <button style="margin: 0" class="button button-full button-energized" ng-click="closeModal('dept')">Done</button>
  </ion-footer-bar>
</div>
