<ion-view view-title="Home" class="" style="background-color:aquamarine;">
  <ion-content class="">
    <div class="row" style="height:50%">
      <div class="col center" style="font-size: 5em;font-weight:lighter;">
        iAstute
      </div>
    </div>
  </ion-content>  
  <div class="stickyFooter">
      <div class="row">
        <div class="col">
          <ion-list ng-controller="GroupCtrl">
            <ion-item ng-click="scan()">
              <i class="ion-ios-barcode-outline" style="font-size: 70px;color: darkturquoise;"></i>
              <br><span style="color:#888888;">Scan Barcode<span>
            </ion-item>
          </ion-list>
        </div>
        <div class="col">
          <ion-list>
            <ion-item ng-click="showDepartments()">
              <i class="ion-ios-list-outline" style="font-size: 70px;color: crimson;"></i>
              <br><span style="color:#888888;">Departments<span>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <!-- For Admin Only -->
      <div class="row" ng-show="1==1">
        <div class="col">
          <ion-list>
            <ion-item ng-click="showUsers()">
              <i class="ion-ios-people-outline" style="font-size: 70px;color: rosybrown;"></i>
              <br><span style="color:#888888;">Users<span>
            </ion-item>
          </ion-list>
        </div>
        <div class="col">
          <ion-list>
            <ion-item ng-click="showGroups()">
              <i class="ion-ios-pricetags-outline" style="font-size: 70px;color: salmon;"></i>
              <br><span style="color:#888888;">Groups<span>
            </ion-item>
          </ion-list>
        </div>
    </div>
  </div>
</ion-view>