<div class="modal">
  <ion-header-bar align-title="center" class="">
    <h1 class="title">Promotion</h1>
    <button class="button button-icon icon ion-ios-compose-outline" ng-click="addNewPromotion()"></button>
  </ion-header-bar>
  <ion-content ng-controller="PromoCtrl">
      <ion-list ng-repeat="promotion in promotions">
        <ion-item href="#" ng-click="showDetails(promotion);">
            {{promotion.name}}
        </ion-item>
      </ion-list>
  </ion-content>
  <ion-footer-bar style="">
      <button style="margin: 0" class="button button-full button-balanced" ng-click="closeModal('promo')">Done</button>
  </ion-footer-bar>
</div>