<div class="modal" >
  <ion-header-bar align-title="center" class="">
    <h1 class="title">Users</h1>
    <button class="button button-icon icon ion-ios-personadd" ng-click="showEditForm();"></button>
  </ion-header-bar>
  <ion-content ng-controller="UserCtrl">
			<ion-list ng-repeat="user in users">
        <ion-item href="#" ng-click="showDetails(user);">
            {{user.name}}
            <span class="item-note">
               {{user.admin ? "Admin" : "User"}}
             </span>
             <span ng-show="user.code" class="item-note">
              ({{user.code}}) &nbsp;&nbsp;
             </span>
        </ion-item>
        </ion-item>
      </ion-list>
  </ion-content>
  <ion-footer-bar style="">
      <button style="margin: 0" class="button button-full button-balanced" ng-click="closeModal('user')">Done</button>
  </ion-footer-bar>
</div>

<!-- 
    Admin create emp name and passcode.

    emp when connect 1st time, must enter passcode.

    on validation, emp's phone SSID is stored.

    moving forward SSID is used for auth.

    if emp buys new phone, admin can remove old emp name and redo step 1.
 -->